* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo-hm {
    width: 568px;
    height: 600px;

}

.section-right {
    display: inline-block;
    height: 100vh;
    position: absolute;
    top: 30%;
    right: 2%;
    margin-right: 105px;
}

.section-left {
    display: inline-block;
    height: 100vh;
}

.link-header {
    margin-right: 23px;
}

.link-header:hover {
    opacity: .4;
}

.link-header:active {
    opacity: .2;
}

.button-header {
    width: 130px;
    height: 41px;
    border-radius: 50px;
    border: none;
    background: #323232;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFF;
}


header {
    margin: 34px 0 5px 56px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
}

h1 {
    width: 400px;
    font-size: 90px;
    font-weight: 900;
    line-height: 100px;
    color: #323232;
}

h2 {
    width: 250px;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color: #515151;
}

p {
    width: 515px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 15px;
    color: #515151;
}

.button-contact {
    width: 219px;
    height: 64px;
    border-radius: 50px;
    border: none;
    background: #323232;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #FFFF;
    margin-top: 21px;
    text-decoration: none;
}

@media screen and (max-width:780px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    .logo-hm {
        width: 120px;
        height: 120px;
        position: sticky;
        margin-top: 92px;
        margin-left: 96px;
    }

    .section-left {
        display: block;
        width: 100%;
        height: 30vh;
        margin-left: 25px;
        margin-bottom: 55px;
    }

    .section-right {
        display: block;
        width: 100%;
        height: 70vh;
        position: relative;
        margin-left: 68px;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
        font-weight: 900;
        line-height: 61px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        text-align: center;
        margin-top: 68px;

    }

    .button-contact {
        margin-top: 70px;
        display: block;
        margin-left: 25px;
        text-decoration: none;
    }

    .button-contact:hover {
        opacity: .4;
    }
   
    .button-contact:active {
        opacity: .2;
    }





}